.grid-three-cols{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h2{
    font-weight: bolder;
    
}
section{
    background: #eeeeee;
    padding: 15px;
}

button{
    background-color: #000;
    color: #eeeeee;
    padding: 10px;
}